#score { text-align: center; }

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://i.ibb.co/fv1gkMM/Doom-Hell-Aftermath-world-illustrator-wallpaper-1366x768.jpg");
  background-size: cover;
}

#cacodemon {
  height: 400px;
  width: 336px;
  transform: scale(-.3, .3);
  right: 87.5px;
  top: 25px;
  position: relative;
  background-image: url("https://i.ibb.co/2Z3Y8Pz/doom-cacodemon.png");
  background-size: contain;
}

#rocket {
  width: 75px;
  height: 140px;
  transform: scale(.4, .4) rotate(270deg);
  position: relative;
  left: 550px;
  bottom: 225px;
  background-image: url("https://i.ibb.co/3fn8NHC/doom-rocket.png");
  background-size: cover;
  animation: rocket 1.33s infinite linear;
}

@keyframes rocket {
  0%{left: 550px;}
  100%{left: -50px;}
}

.jumpAnimation {
  animation: jump 0.625s ease;
}

@keyframes jump {
  0%{top: 25px;}
  50%{top: -125px;}
  75%{top: -125px;}
  100%{top: 25px;}
}